*,
::after,
::before {
  box-sizing: border-box;
}

.backgorund{
  background-image: url('Images/website-background-purple-and-black-tones-upscaled.png');
  /* You can add additional background properties as needed */
  background-size: cover; /* Adjust to your preference */
  background-position: center; /* Adjust to your preference */
  background-repeat: no-repeat; /* Adjust to your preference */
  /* Other styles for the section */
  padding: 2vw; /* Adjust to your preference */
  color: #ffffff; /* Text color, adjust to your preference */
}

/* body {
  background: var(--backgroundColor);
  font-family: var(--bodyFont);
  font-weight: 400;
  line-height: 1.75;
  color: var(--textColor);
} */

p {
  margin-top: 100px;
  margin-bottom: 1.5rem;
  max-width: 40em;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  margin-bottom: 1.38rem;
  font-family: var(--headingFont);
  font-weight: 400;
  line-height: 1.3;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

small,
.text-small {
  font-size: var(--smallText);
}

a {
  text-decoration: none;
}
/* ul {
  list-style-type: none;
  padding: 0;
} */

.img {
  width: 100%;
  display: block;
  object-fit: cover;
}
/* buttons */

.btn {
  cursor: pointer;
  color: var(--white);
  background: var(--primary-500);
  border: transparent;
  border-radius: var(--borderRadius);
  letter-spacing: var(--letterSpacing);
  padding: 0.375rem 0.75rem;
  box-shadow: var(--shadow-1);
  transition: var(--transtion);
  text-transform: capitalize;
  display: inline-block;
}
.btn:hover {
  background: var(--primary-700);
  box-shadow: var(--shadow-3);
}
.btn-hipster {
  color: var(--primary-500);
  background: var(--primary-200);
}
.btn-hipster:hover {
  color: var(--primary-200);
  background: var(--primary-700);
}
.btn-block {
  width: 100%;
}

.profile-icon{
  margin-top: 0.1vh;
  font-size: 50px;
}

/* alerts */
.alert {
  padding: 0.375rem 0.75rem;
  margin-bottom: 1rem;
  border-color: transparent;
  border-radius: var(--borderRadius);
}

.alert-danger {
  color: var(--red-dark);
  background: var(--red-light);
}
.alert-success {
  color: var(--green-dark);
  background: var(--green-light);
}
/* form */

.form {
  width: 90vw;
  max-width: var(--fixed-width);
  background: var(--white);
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow-2);
  padding: 2rem 2.5rem;
  margin: 3rem auto;
}
.form-label {
  display: block;
  font-size: var(--smallText);
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}
.form-input,
.form-textarea {
  width: 100%;
  padding: 0.375rem 0.75rem;
  border-radius: var(--borderRadius);
  background: var(--backgroundColor);
  border: 1px solid var(--grey-200);
}

.form-row {
  margin-bottom: 1rem;
}

.form-textarea {
  height: 7rem;
}
::placeholder {
  font-family: inherit;
  color: var(--grey-400);
}
.form-alert {
  color: var(--red-dark);
  letter-spacing: var(--letterSpacing);
  text-transform: capitalize;
}
/* alert */

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  width: 6rem;
  height: 6rem;
  border: 5px solid var(--grey-400);
  border-radius: 50%;
  border-top-color: var(--primary-500);
  animation: spinner 0.6s linear infinite;
}
.loading {
  margin: 0 auto;
}
/* title */

.title {
  text-align: center;
}

.title-underline {
  background: var(--primary-500);
  width: 7rem;
  height: 0.25rem;
  margin: 0 auto;
  margin-top: -1rem;
}

/* input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: rgb(91, 90, 93);
    background-image: url('searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 8px 10px 10px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    margin-left: 300px;
  }
   */
  /* input[type=text]:focus {
    width: 40%;
  } */


  .centerbox {
    /* top:50%;left:50%; */
    /* transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); */
    /* width: 99vw;
    min-height:52px; */
    /* z-index:2 */
    width: 99vw;
  }
    .centerbox h1 {
      margin-bottom: 25px;font-size:36px;font-family: "Webly Sleek SemiLight";font-weight: normal;text-align: center;
    }
    .centerbox p.description {
      margin-bottom:40px;text-align: center;}

    .description a {
      text-decoration:none;
    }
    .main-input {
      height: 50px;
      width: 75vw;
      color: black;
      border: 1px solid #cccccc;
      margin-bottom: 0px;
      /* margin-left: 3.5vw; */
      -webkit-appearance: none;
      border-radius: 4px 0px 0px 4px;
      -moz-border-radius: 4px 0px 0px 4px;
      -webkit-border-radius: 4px 0px 0px 4px;
      display: inline-block;
      text-align: left;
      font-size: 16px;
      font-weight: 500;
      padding:0px 0px 0px 57px;
      font-size:16px;
      border-right:0px;
      background: rgb(255, 255, 255) url("Icons/black_search_icon.svg") 18px 15px no-repeat;
      background-size:18px 18px;
      float:left;
    }
    .main-ingredients
    {
      display: none;
    }
    #main-submit {
      background: rgb(188, 140, 242);
      color: #fff;
      display: inline-block;
      font-size: 19px;
      font-weight: 500;
      text-align: center;
      cursor: pointer;
      margin-bottom: 0px;
      -webkit-appearance: none;
      border-radius: 0px 4px 4px 0px;
      -moz-border-radius: 0px 4px 4px 0px;
      -webkit-border-radius: 0px 4px 4px 0px;
      /* width:141px; */
      min-width: 120px;
      width: 7vw;
      height:50px;
      border: 00px;
      float:left;
    }

    #main-submit:hover
    {
      background: rgba(111, 15, 167, 0.76);
      color: #fff !important; -webkit-appearance: none;
    }
    #main-submit-mobile
    {
      display: none;
    }
    footer {
      border-top: 0px;
    }
    .main-btn {
      display: inline-block;
      width:150px;
      height:50px;
      border: 1px solid #cccccc;
      /* padding:0px; */
      margin-top: 0px;
      position: relative;
      float:left;
      border-right:0px;
      background: #ffffff url("http://seodesigns.com/projects/TD/images/main-bullet.png") 122px 20px no-repeat;
      background-size:16px 16px;
      cursor: pointer;
    }
    .search-small {font-size:12px;margin:0px;color:#9B9B9B;position: absolute;top: 6px;left:16px;display: inline-block;width:80px;height:20px;text-align:left;}
    .search-large {font-size:16px;margin:0px;color:#4A4A4A;position: absolute;top: 19px;left:16px;display: inline-block;width:105px;height:20px;font-weight:900;text-align:left;}
    .main-form-container
    {
      /* width: 90vw; */
      padding: 2.5vw;
      height:150px;
    }

    @media screen and (max-width: 1588px) {
      .main-form-container {
        padding: 0vw;
        display: flex;
        justify-content: center;
        align-items: center; /* Center the items vertically */
      }

      .main-btn {
        margin-top: 1vh; /* Adjust the top margin as needed */
        margin-right: 10px; /* Add margin-right to separate the buttons */
      }

      #main-submit {
        margin-top: 1vh; /* Adjust the top margin as needed */
      }
    }
/*
    @media screen and (max-width: 373px) {
      .main-form-container {
        padding: 0vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
      }

      .main-form-container .main-btn,
      .main-form-container #main-submit {
        margin-top: 1vh;
      }
    } */
    /* ul.search-description {
    width:150px;
    background: #fff;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    padding:14px 0px;
    margin-top: 48px;
    border: 1px solid #E5E5E5;
    display: none;
    -webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.3);
    } */

    .search-wrapper {
      position: relative;
    }

    .search-description {
      position: absolute;
      top: 100%;
      width: 150px;
      /* height: 60px; */
      padding: 5px;
      background: #fff;
      border-radius: 2px;
      /* padding: 14px 0; */
      border: 1px solid #E5E5E5;
      display: block;
      text-align: center;
      -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
      box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
      margin-left: 75vw; /* Add this line to align with main-btn */
      margin-top: 50px
    }
    .search-description li {
      font-size:16px;
      color:#4A4A4A;
      font-weight:900;
      /* padding:6px 0px; */
      display:grid;
      /* padding-left:16px; */
      cursor: pointer;
    }
    .search-description li:hover {
      background: rgb(248, 235, 255) ;
    }

.tag {
	height: 1.5rem;
	line-height: 1.5rem;
	font-size: 1.1rem;
	margin: 0.25rem 0.15rem;
	padding: 0 0.3rem;
	display: flex;
	width: max-content;

	/* Optional */
	border-radius: 5px;
	background-color: #4d5151;
	color: rgb(0, 0, 0);
}

.tagEditor {
	/* Optional */
	padding: 0 0.3rem;
	background-color: #465758;
}

.x-button {
	padding: 0 0 0 0.5rem;
	height: 100%;

	/* Optional */
	background-color: transparent;
	border: none;
	font-weight: bold;
	color: rgb(0, 0, 0);
}

/* Optional */
.searchPlaceholder {
	color: #625d5d;
}

.tagText {
	/* Optional */
	line-height: 1.5rem;
	padding: 0;
	font-size: 1.1rem;
	background-color: transparent;
	border: none;
	color: rgb(0, 0, 0);
}


/* Only for the looks */





/* Only for the looks */
.text {
	color: rgb(0, 0, 0);
	background-color: #ffffff2f;
	width: max-content;
	max-width: 100%;
	line-height: 1.5rem;
}

  /* Örnek CSS */
  .star {
    /* Kalp simgesini büyütmek için */
    font-size: 20px; /* İstenilen boyuta göre */
    color: rgb(198, 198, 45);
  }

  .favorite-heart {
    /* Kalp simgesini büyütmek için */
    /* İstenilen boyuta göre */
    margin-left: 20px;

  }
  .favorite-heart {
    font-size: 24px;
    color: black;

    cursor: pointer;
  }

  .favorite-heart.favorited {
    color: red;
  }
  .recipe p {
    margin-bottom: 0;
    line-height: 1;
    color: var(--grey-500);
    margin-top: 0.5rem;
    letter-spacing: var(--letterSpacing);
}




/* Basit bir stil */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }

  .meal-planner {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .days {
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
  }

  .day {
    background-color: #f9f9f9;
    border-radius: 6px;
    padding: 10px;
    margin-bottom: 20px;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  button {
    margin-top: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }


/*
===============
Navbar
===============
*/

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-center {
  width: 100vw;
  max-width: var(--max-width);
}
.nav-header {
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-header img {
  width: 200px;
}
.nav-logo {
  display: flex;
  align-items: flex-end;
}

.nav-btn {
  padding: 0.15rem 0.75rem;
}
.nav-btn i {
  font-size: 1.25rem;
}
.nav-links {
  height: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: var(--transition);
  margin-left: 3vw;
  gap: 3vw;
}
.show-links {
  height: 23.9375rem;
}

.nav-link {
  display: block;
  text-align: center;
  font-size: 1.25rem;
  text-transform: capitalize;
  color: var(--grey-900);
  letter-spacing: var(--letterSpacing);
  padding: 1rem 0;
  border-top: 1px solid var(--grey-500);
  transition: var(--transition);
}
.nav-link:hover {
  color: var(--primary-500);
}

.contact-link {
  display: flex;
  align-items: center;
}


@media screen and (min-width: 992px) {
  .navbar {
    height: 6rem;
  }
  .nav-center {
    display: flex;
    align-items: center;
  }
  .nav-header {
    padding: 0;
    margin-right: 2rem;
    height: auto;
  }

  .nav-btn {
    display: none;
  }
  .nav-links {
    height: auto !important;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }
  .nav-link {
    padding: 0;
    border-top: none;
    margin-right: 1rem;
    font-size: 1rem;
  }
  .contact-link {
    margin-right: 0;
    margin-left: auto;
  }
}
/*
===============
Page
===============
*/

.page {
  width: 90vw;
  max-width: var(--max-width);
  margin: 0 auto;
}
.page {
  padding-top: 2rem;
  min-height: calc(100vh - (6rem + 4rem));
}
/*
===============
Footer
===============
*/

.page-footer {
  text-align: center;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--black);
  color: var(--white);
}
.page-footer h5 {
  margin-top: 0;
  margin-bottom: 0;
}
.page-footer p {
  margin-bottom: 0;
}
.page-footer .footer-logo,
.page-footer a {
  color: var(--primary-500);
}
/*
===============
Hero
===============
*/

.hero {
  height: 40vh;
  position: relative;
  margin-bottom: 2rem;
  background: url('../assets/main.jpeg') center/cover no-repeat;
  border-radius: var(--borderRadius);
}
.hero-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.4);
  border: 10px solid silver; /* Adjust the width and color as needed */
  border-radius: 10px; /* Adjust the radius for rounded corners if desired */
  overflow: hidden;
}
.hero-text {
  color: var(--white);
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .hero-text h1 {
    font-size: 4rem;
    margin-bottom: 0;
  }
}

/*
===============
Recipes
===============
*/

.recipes-container {
  display: grid;
  gap: 2rem 1rem;
}

.recipes-list {
  display: grid;
  gap: 2rem 1rem;
  padding-bottom: 3rem;
}
.tags-container {
  order: 1;
  display: flex;
  flex-direction: column;
  padding-bottom: 3rem;
  /* background: blue; */
}
.tags-container h4 {
  margin-bottom: 0.5rem;
  font-weight: 500;
}
.tags-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.tags-list a {
  text-transform: capitalize;
  display: block;
  color: var(--grey-500);
  transition: var(--transition);
}
.tags-list a:hover {
  color: var(--primary-500);
}
.recipe {
  display: block;
}
.recipe-img {
  height: 15rem;
  border-radius: var(--borderRadius);
  margin-bottom: 1rem;
}
.recipe h5 {
  margin-bottom: 0;
  margin-top: 0.25rem;
  line-height: 1;
  color: var(--grey-700);
}
.recipe p {
  margin-bottom: 0;
  line-height: 1;
  color: var(--grey-500);
  margin-top: 0.5rem;
  letter-spacing: var(--letterSpacing);
}
@media screen and (min-width: 576px) {
  .recipes-list {
    grid-template-columns: 1fr 1fr;
  }
  .recipe-img {
    height: 10rem;
  }
}

@media screen and (min-width: 992px) {
  .recipes-container {
    grid-template-columns: 200px 1fr;
    gap: 1rem;
  }
  .recipes-list {
    grid-template-columns: 1fr 1fr;
  }

  .recipe p {
    font-size: 0.85rem;
  }
  .tags-container {
    order: 0;
    /* background: blue; */
  }
  .tags-list {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 1200px) {
  .recipe h5 {
    font-size: 1.15rem;
  }
  .recipes-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
/*
===============
Error
===============
*/
.error-page {
  text-align: center;
  padding-top: 5rem;
}
.error-page h1 {
  font-size: 9rem;
}
/*
===============
About Page
===============
*/

.about-page h2 {
  text-transform: none;
  font-weight: bold;
}
.about-page {
  display: grid;
  gap: 2rem 4rem;
  padding-bottom: 3rem;
}
.about-img {
  border-radius: var(--borderRadius);
  height: 300px;
}

@media screen and (min-width: 992px) {
  .about-page {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 400px;
    align-items: center;
  }
  .about-img {
    height: 100%;
  }
}

.featured-title {
  text-align: center;
}
/*
===============
Contact Page
===============
*/
.contact-form {
  width: 100%;
  margin: 0;
}
.contact-container {
  display: grid;
  gap: 2rem 3rem;
  padding-bottom: 3rem;
}
@media screen and (min-width: 992px) {
  .contact-container {
    grid-template-columns: 1fr 450px;
    align-items: center;
  }
}

/*
===============
Tags Page
===============
*/

.tags-wrapper {
  display: grid;
  gap: 2rem;
  padding-bottom: 3rem;
}
.tag {
  background: var(--grey-500);
  border-radius: var(--borderRadius);
  text-align: center;
  color: var(--white);
  transition: var(--transition);
  padding: 0.75rem 0;
}
.tag:hover {
  background: var(--primary-500);
}
.tag h5,
.tag p {
  margin-bottom: 0;
}
.tag h5 {
  font-weight: 600;
}
@media screen and (min-width: 576px) {
  .tags-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 992px) {
  .tags-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/*
===============
Recipe Template
===============
*/

.recipe-hero {
  display: grid;
  gap: 3rem;
}

.recipe-hero-img {
  height: 300px;
  border-radius: var(--borderRadius);
}
.recipe-info p {
  color: var(--grey-600);
}
.recipe-icons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin: 2rem 0;
  text-align: center;
}
.recipe-icons i {
  font-size: 1.5rem;
  color: var(--primary-500);
}
.recipe-icons h5,
.recipe-icons p {
  margin-bottom: 0;
  font-size: 0.85em;
}

.recipe-icons p {
  color: var(--grey-600);
}
.recipe-tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 0.7em;
  font-weight: 600;
}
.recipe-tags a {
  background: var(--primary-500);
  border-radius: var(--borderRadius);
  color: var(--white);
  padding: 0.05rem 0.5rem;
  margin: 0 0.25rem;
  text-transform: capitalize;
}
@media screen and (min-width: 992px) {
  .recipe-hero {
    grid-template-columns: 4fr 5fr;
    align-items: center;
  }
}
.recipe-content {
  padding: 3rem 0;
  display: grid;
  gap: 2rem 5rem;
}
@media screen and (min-width: 992px) {
  .recipe-content {
    grid-template-columns: 2fr 1fr;
  }
}
.single-instruction header {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1.5rem;
  align-items: center;
}
.single-instruction header p {
  text-transform: uppercase;
  font-weight: 600;
  color: var(--primary-500);
  margin-bottom: 0;
}
.single-instruction > p {
  color: var(--grey-700);
}

.single-instruction header div {
  height: 2px;
  background: var(--grey-300);
}

.second-column {
  display: grid;
  row-gap: 2rem;
}

.single-ingredient {
  border-bottom: 2px solid var(--grey-300);
  padding-bottom: 0.75rem;
  color: var(--grey-700);
}
.single-tool {
  border-bottom: 2px solid var(--grey-300);
  padding-bottom: 0.75rem;
  color: var(--primary-500);
  text-transform: capitalize;
}