<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Recipe</title>
    <script src="../scripts/addRecipe.js"></script>
</head>
<body>
    <form id="recipeForm">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title"><br><br>

        <label for="ingredients">Ingredients:</label>
        <textarea id="ingredients" name="ingredients"></textarea><br><br>

        <label for="meal">Meal:</label>
        <input type="text" id="meal" name="meal"><br><br>

        <label for="cuisine">Cuisine:</label>
        <input type="text" id="cuisine" name="cuisine"><br><br>

        <label for="description">Description:</label>
        <textarea id="description" name="description"></textarea><br><br>

        <label for="preparationTime">Preparation Time:</label>
        <input type="text" id="preparationTime" name="preparationTime"><br><br>

        <label for="photo">Photo:</label>
        <input type="file" id="photo" name="photo"><br><br>

        <button type="submit">Add Recipe</button>
    </form>

    

</body>
</html>