<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/adminPanelDashboardTab.css">
    <link rel="stylesheet" href="../styles/adminPanelReportsTab.css">
    <link rel="stylesheet" href="../styles/adminPanelUsersTab.css">
    <title>Admin Panel</title>
</head>

<body>
    <div class="sidebar">
        <h2>Admin Panel</h2>
        <ul>
            <li><a href="#" onclick="openTab('adminDashboard')" class="active-tab" data-tab="adminDashboard"><ion-icon name="home-outline"
                        class="dashboard-icon"></ion-icon>Dashboard</a></li>
            <li><a href="#" onclick="openTab('reports')" data-tab="reports"><ion-icon name="newspaper-outline"
                        class="reports-icon"></ion-icon>Reports</a></li>
            <li><a href="#" onclick="openTab('users')" data-tab="users"><ion-icon name="people-outline"
                        class="users-icon"></ion-icon>Users</a></li>
            <li><a href="#" onclick="openTab('settings')" data-tab="settings"><ion-icon name="settings-outline"
                        class="settings-icon"></ion-icon>Settings</a></li>
        </ul>
    </div>

    <div class="content-container">
        <div class="content" id="adminDashboard">
            <h2>Dashboard</h2>
            <p>Welcome to the dashboard!</p>
        </div>

        <div class="content" id="reports">
            <h2>Reports</h2>
            <p>New reports will be displayed here.</p>
            <div class="reports-grid-container">
                <div class="reports-grid" id="reports-grid">
                    <!-- Dynamic content will be added here -->
                </div>
            </div>
        </div>

        <div class="content" id="users">
            <h2>Users</h2>
            <!-- <div class="user-list-table">
                <div class="table-column-headers">
                    <div class="table-column-header">Name</div>
                    <div class="table-column-header">Email</div>
                    <div class="table-column-header">Role</div>
                </div>
                <div id="userList" class="user-list">
                    
            </div> -->
            <dir class="board">
                <table width="100%">
                    <thead>
                        <tr>
                            <td>Name</td>
                            <td>Title</td>
                            <td>Status</td>
                            <td>Role</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="people">
                                <img src="../Images/pizza.png" alt="">
                                <div class="people-de">
                                    <h5>John Doe</h5>
                                    <p>john@hotmail.com</p>
                                </div>
                            </td>

                            <td class="people-des">
                                <h5>Full Stack Developer</h5>
                                <p>Web Developer</p>
                            </td>

                            <td class="active">
                                <p>Active</p>
                            </td>

                            <td class="role">
                                <p>Owner</p>
                            </td>

                            <td class="edit"><a href="#">Edit</a></td>
                        </tr>
                    </tbody>
                </table>
            </dir>
        </div>

        <div class="content" id="settings">
            <h2>Settings</h2>
            <p>Admin settings will be shown here.</p>
        </div>
    </div>
</body>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<script src="../scripts/adminPanelTabSelector.js"></script>
<script src="../scripts/adminPanelDashboardTab.js"></script>
<script src="../scripts/adminPanelReportsTab.js"></script>
<script src="../scripts/adminPanelUsersTab.js"></script>
<script src="https://cdn.jsdelivr.net/npm/handlebars/dist/handlebars.min.js"></script>

<script>
    // Show the content of the "Dashboard" tab initially
    // document.getElementById('adminDashboard').style.display = 'block';
</script>

</html>