<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>ReciPie</title>
  <!-- favicon -->
  <link rel="shortcut icon" href="./assets/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twbs-pagination/1.4.2/jquery.twbsPagination.min.css"> -->
  <link rel="icon"
    href="https://media.istockphoto.com/id/1206922898/tr/vekt%C3%B6r/pasta-simgesi-beyaz-arka-planda-yal%C4%B1t%C4%B1lm%C4%B1%C5%9F-logo.jpg?s=612x612&w=is&k=20&c=eLmofEp6dL5d8uP3ks2VqjUSql-oWK2ITx0pQTOPBV0=">
  <link rel="stylesheet" href="../styles/dashboard.css">
</head>

<body>
  <section class="background">
    <!-- nav  -->
    <div class="responsive-nav-menu">
      <div class="topnav" id="myTopnav">
        <a href="dashboard.html" class="active">Home</a>
        <a href="userDashboard.html">Recipes by Users</a>
        <!-- <a href="recipes.html">Cuisines</a> -->
        <a href="userProfile.html">Profile</a>
        <a onclick="openNewTab()">Search By Ingredient</a>
        <div class="nav-dropdown  show-dropdown" onclick="toggleAndCloseDropdown(this)">
          <button class="meal-types">Cuisines<ion-icon name="chevron-down-outline"
              class="nav-dropdown-arrow-icon"></ion-icon></button>
          <div class="nav-cuisines-dropdown-content">
            <a onclick="fetchDataByCuisine('French');">French</a>
            <a onclick="fetchDataByCuisine('Chinese');">Chinese</a>
            <a onclick="fetchDataByCuisine('Japanese');">Japanese</a>
            <a onclick="fetchDataByCuisine('Italian');">Italian</a>
            <a onclick="fetchDataByCuisine('Turkish');">Turkish</a>
            <!-- <a onclick="fetchDataByCuisine('Greek');">Greek</a> -->
            <!-- <a onclick="fetchDataByCuisine('Spanish');">Spanish</a>
            <a onclick="fetchDataByCuisine('Indian');">Indian</a> -->
            <a onclick="fetchDataByCuisine('Lunch');">Mexican</a>
            <!-- <a onclick="fetchDataByCuisine('Thai');">Thai</a> -->
            <!-- <a onclick="fetchDataByCuisine('Lebanese');">Lebanese</a> -->
            <a onclick="fetchDataByCuisine('American');">American</a>
          </div>
        </div>
        <div class="nav-dropdown  show-dropdown" onclick="toggleAndCloseDropdown(this)">
          <button class="meal-types">Meal Types<ion-icon name="chevron-down-outline"
              class="nav-dropdown-arrow-icon"></ion-icon></button>
          <div class="nav-dropdown-content">
            <a onclick="fetchDataByMealType('breakfast');">Breakfast</a>
            <a onclick="fetchDataByMealType('dinner');">Dinner</a>
            <a onclick="fetchDataByMealType('dessert');">Dessert</a>
            <a onclick="fetchDataByMealType('lunch');">Lunch</a>
            <a onclick="fetchDataByMealType('snack');">Snack</a>
          </div>
        </div>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
        </a>
      </div>
      <script>
        function myFunction() {
          var x = document.getElementById("myTopnav");
          if (x.className === "topnav") {
            x.className += " responsive";
          } else {
            x.className = "topnav";
          }
        }
      </script>
      <a href="dashboard.html" class="nav-logo-centered">
        <!-- <img src="../Icons/logo.svg" /> -->
        <img style="width: 90px; height: 90px;" src="https://www.svgrepo.com/show/398059/pie.svg" alt="logo">
      </a>
    </div>

    <nav class="navbar">

      <div class="nav-center">
        <div class="nav-header">
          <a href="dashboard.html" class="nav-logo">
            <!-- <img src="../Icons/logo.svg" /> -->
            <img style="width: 90px; height: 90px; margin-left: 40px;" src="https://www.svgrepo.com/show/398059/pie.svg"
              alt="logo">
          </a>
          <button class="nav-btn btn">
            <i class="fas fa-align-justify"></i>
          </button>
        </div>

        <div class="nav-links">
          <div class="glass-nav-links">
            <a style="font-size: larger;" href="dashboard.html" class="nav-link glass">Home</a>
            <a style="font-size: larger;" href="userDashboard.html" class="nav-link glass">Recipes by Users</a>

            <!-- Cuisines Dropdown -->
            <div class="cuisines-dropdown" style="position: relative; display: inline-block;">
              <button style="font-size: larger; cursor: pointer;" class="dropbtn glass">Cuisines
                <ion-icon name="chevron-down-outline" class="dropdown-arrow-icon"></ion-icon>
              </button>
              <div class="cuisines-dropdown-content">
                <a style="font-size: larger;" class="nav-link glass" onclick="fetchDataByCuisine('French')">French</a>
                <a style="font-size: larger;" class="nav-link glass" onclick="fetchDataByCuisine('Chinese')">Chinese</a>
                <a style="font-size: larger;" class="nav-link glass"
                  onclick="fetchDataByCuisine('Japanese')">Japanese</a>
                <a style="font-size: larger;" class="nav-link glass" onclick="fetchDataByCuisine('Italian')">Italian</a>
                <a style="font-size: larger;" class="nav-link glass" onclick="fetchDataByCuisine('Turkish')">Turkish</a>
                <!-- <a style="font-size: larger;" class="nav-link glass" onclick="fetchDataByCuisine('Greek')">Greek</a> -->
                <!-- <a style="font-size: larger;" class="nav-link glass" onclick="fetchDataByCuisine('Spanish')">Spanish</a>
                <a style="font-size: larger;" class="nav-link glass" onclick="fetchDataByCuisine('Indian')">Indian</a> -->
                <a style="font-size: larger;" class="nav-link glass" onclick="fetchDataByCuisine('Mexican')">Mexican</a>
                <!-- <a style="font-size: larger;" class="nav-link glass" onclick="fetchDataByCuisine('Thai')">Thai</a> -->
                <!-- <a style="font-size: larger;" class="nav-link glass"
                  onclick="fetchDataByCuisine('Lebanese')">Lebanese</a> -->
                <a style="font-size: larger;" class="nav-link glass"
                  onclick="fetchDataByCuisine('American')">American</a>
              </div>
            </div>

            <!-- Meal Types Dropdown -->
            <div class="tags-dropdown" style="position: relative; display: inline-block;">
              <button style="font-size: larger; cursor: pointer;" class="dropbtn glass">Meal Types
                <ion-icon name="chevron-down-outline" class="dropdown-arrow-icon"></ion-icon>
              </button>
              <div class="tags-dropdown-content">
                <a style="font-size: larger;" class="nav-link glass"
                  onclick="fetchDataByMealType('breakfast')">Breakfast</a>
                <a style="font-size: larger;" class="nav-link glass" onclick="fetchDataByMealType('dinner')">Dinner</a>
                <a style="font-size: larger;" class="nav-link glass"
                  onclick="fetchDataByMealType('dessert')">Dessert</a>
                <a style="font-size: larger;" class="nav-link glass" onclick="fetchDataByMealType('lunch')">Lunch</a>
                <a style="font-size: larger;" class="nav-link glass" onclick="fetchDataByMealType('snack')">Snack</a>
              </div>
            </div>
            <a style="font-size: larger;" href="searchByIngredientTab.html" target="_blank" class="nav-link glass" >Search By Ingredient</a>
          </div>
        </div>

        <!-- <div class="nav-link contact-link">
            <a style="font-size: larger;" href="profile.html" class="btn nav-link">Profile</a>
            <a href="profile.html" class="btn">
              <ion-icon name="person-circle-outline" class="profile-icon"></ion-icon>
            </a> -->
      </div>
      </div>
      </div>
      <div class="profile-dropdown">
        <a href="userProfile.html" class="btn">
          <ion-icon name="person-circle-outline" class="profile-icon"></ion-icon>
        </a>
        <div class="dropdown-content">
          <a href="userFavTab.html">Favourites</a>
          <a href="recipe-book.html">My Recipe Book</a>
          <a href="meal_planner.html">My Meal Planner</a>
          <a href="userProfile.html">Profile</a>
          <a href="logIn.html">Log-in</a>
        </div>
      </div>
      <br>
    </nav>

    <div class="centerbox">
      <br>
      <br>
      <div class="main-form-container">
        <form id="recipeSearchForm" action="https://recipiebeckend.azurewebsites.net/recipes/basic-search" method="get"
          onsubmit="event.preventDefault(); basicSearch();">
          <input type="text" class="main-input main-name" name="targetWord" value="Search by name"
            onfocus="clearText(this)" onblur="replaceText(this)" />
          <!-- Remove the ingredients input field if you only want to search by name -->
          <!-- <input type="text" class="main-input main-ingredients" name="INGREDIENTS" value="Search by ingredients" onfocus="clearText(this)" onblur="replaceText(this)" /> -->
          <input id="main-submit" class="" type="submit" value="Search" />
        </form>
      </div>
      <button type="button" id="main-submit-mobile">Search</button>
    </div>
    <!-- mobile submit -->


    <!-- end of nav -->
    <!-- main -->
    <main class="page">
      <!-- header -->
      <header class="hero">
        <div class="hero-container"
          style="background-image:url(https://thetrestlestop.com/wp-content/uploads/2021/03/Dessert-Banner-e1617261331998.jpg);">
          <div class="hero-text">
            <article style="background-size: cover;  background: linear-gradient(
              to right, 
              hsl(256, 58%, 85%), 
              hsl(270, 8%, 56%)
            );
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            text-align: center;">
            <h1
              style="  font-weight:bold;
  min-block-size: 100%;
  min-inline-size: 100%;
  box-sizing: border-box;
  display: grid;
  place-content: center;
  font-family: system-ui;
  font-size: min(200%, 5vmin); font-size: 6vmin;
  line-height: 1.1;">
                                Explore Recipies</h1>
            </article>
          </div>
        </div>
      </header>
      <!-- end of header -->
      <section class="recipes-container">
        <!-- tag container -->
        <!-- <div class="tags-container">
          <h4 style="color: black; font-family: 'Courier New', Courier, monospace;">recipes</h4>
          <div style="color: black; font-family: 'Courier New', Courier, monospace; cursor: pointer; "
            class="tags-list">
            <a onclick="fetchDataByCuisine('dinner')">Dinner </a>
            <a onclick="fetchDataByCuisine('breakfast')">Breakfast </a>
            <a onclick="fetchDataByCuisine('dessert')">Dessert </a>
            <a onclick="fetchDataByCuisine('lunch')">Lunch </a>
            <a onclick="fetchDataByCuisine('snack')">Snack </a>
          </div> -->

          <div class="select-container">
            <form id="app-cover">
              <div id="select-box">
                <input type="checkbox" id="options-view-button">
                <div id="select-button" class="brd">
                  <div id="selected-value">
                    <span id="sort-by-string">Sort by:</span>
                  </div>
                  <!-- <div id="chevrons">
                    <i class="fas fa-chevron-up"></i>
                    <i class="fas fa-chevron-down"></i>
                  </div> -->
                </div>
                <div id="options">
                  <div class="option">
                    <input class="s-c top" type="radio" name="platform" value="time" id="timeRadio">
                    <input class="s-c bottom" type="radio" name="platform" value="time">
                    <i class="first-sort-option"><ion-icon name="time-outline" class="sort-by-time"></ion-icon></i>
                    <span class="label">Prep. Time</span>
                    <span class="opt-val">Prep. Time</span>
                  </div>
                  <div class="option">
                    <input class="s-c top" type="radio" name="platform" value="alphabet" id="alphabetRadio">
                    <input class="s-c bottom" type="radio" name="platform" value="alphabet">
                    <i class="second-sort-option"><ion-icon name="text-outline" class="sort-by-alphabet"></ion-icon></i>
                    <span class="label">Alphabetical</span>
                    <span class="opt-val">Alphabetical</span>
                  </div>
                  <div class="option">
                    <input class="s-c top" type="radio" name="platform" value="rate" id="rateRadio">
                    <input class="s-c bottom" type="radio" name="platform" value="rate">
                    <i class="third-sort-option"><ion-icon name="star-outline" class="sort-by-rate"></ion-icon></i>
                    <span class="label">Rate</span>
                    <span class="opt-val">Rate</span>
                  </div>
                  <div class="option">
                    <input class="s-c top" type="radio" name="platform" value="ingrCount" id="ingrCountRadio">
                    <input class="s-c bottom" type="radio" name="platform" value="rate">
                    <i class="fourth-sort-option"><img src="../Images/Ingredients Icon.png" alt="Ingredients Icon"
                        class="sort-by-ingrCount"></i>
                    <span class="label">Ingr. Count</span>
                    <span class="opt-val">Ingredient Count</span>
                  </div>
                  <div id="option-bg"></div>
                </div>
              </div>
            </form>
          </div>
        </div>


        <!-- end of tag container -->

        <!-- recipes list -->
        <div class="recipes-list" id="recipesList">
          <!-- Boş, dinamik olarak doldurulacak -->
        </div>
        <!-- end of recipes list -->
      </section>
      <!-- <div class="paging-container">
        <ul class="pagination" id="pagination">
          <li><a href="#" id="prev">Prev</a></li>
          <li class="active"><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#" id="next">Next</a></li>
        </ul>
      </div> -->
      <div class="paging-container">
        <ul class="pagination" id="pagination-demo">
            <!-- Pagination links will be dynamically generated here -->
        </ul>
      </div>
    </body>
    </main>
    <!-- end of main -->
    <!-- footer -->
    <br>
  </section>
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twbs-pagination/1.4.2/jquery.twbsPagination.min.js"></script>
  <script src="../scripts/dashboard.js"></script>

</html>