<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/recipeDetail.css">
    <title>Recipe Detail</title>
</head>
<body>

    <header>
        <h1 id="recipe-title">Loading...</h1>
    </header>

    <div class="recipe-container">
        <img src="recipe-photo.jpg" alt="Delicious Recipe" class="recipe-image">

        <div class="recipe-ingredients" id="recipe-ingredients">
            <h2>Ingredients</h2>
            <ul>
            </ul>
        </div>

        <br>

        <h2>Description</h2>
        <div class="recipe-description" id="recipe-description">
        </div>


        <h2>Cuisine</h2>
        <div class="recipe-cuisine" id="recipe-cuisine">
        </div>

        <h2>Meal</h2>
        <div class="recipe-meal" id="recipe-meal">
        </div>

        <h2>Preperation Time</h2>
        <div class="recipe-prep-time" id="recipe-prep-time">
        </div>
    </div>

    <script src="../scripts/recipeDetail.js"></script>

</body>
</html>
