<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/recipe-book.css">
    <title>Recipe Book</title>
</head>

<body>
    <br>
    <h1 style="margin: 50px;">My Recipe Book</h1>
    <div class="add-recipe-btn">
      <a href="addNewRecipeToBook.html" id="addrecipebtn">Add New Recipe</a>
    </div>

    <div class="grid-container">

        <div class="recipe-item">
        <div class="book">
            <div class="gloss"></div>
            <img class="cover" src="../Images/background.png">
            <div class="description">
                <h1 class="recipe-dame"></h1>
                <hr>
                <p class="recipe-description"></p>
            </div>

        </div>

        <h1 class="recipe-title"></h1>

            <div class="buttons">
                <button>Publish</button>
                <button>Edit</button>
                <button>Delete</button>
            </div>

        </div>

        <!-- <div class="recipe-item">
            <div class="book">
                <div class="gloss"></div>
                <img class="cover" src="../Images/background.png">
                <div class="description">
                    <h1 class="recipe-dame"></h1>
                    <hr>
                    <p class="recipe-description"></p>
                </div>

            </div>

            <h1 class="recipe-title"></h1>

                <div class="buttons">
                    <button>Publish</button>
                    <button>Edit</button>
                    <button>Delete</button>
                </div>

        </div>

        <div class="recipe-item">
            <div class="book">
                <div class="gloss"></div>
                <img class="cover" src="../Images/background.png">
                <div class="description">
                    <h1 class="recipe-dame"></h1>
                    <hr>
                    <p class="recipe-description"></p>
                </div>

            </div>

            <h1 class="recipe-title"></h1>

                <div class="buttons">
                    <button>Publish</button>
                    <button>Edit</button>
                    <button>Delete</button>
                </div>

        </div>

        <div class="recipe-item">
            <div class="book">
                <div class="gloss"></div>
                <img class="cover" src="../Images/background.png">
                <div class="description">
                    <h1 class="recipe-dame"></h1>
                    <hr>
                    <p class="recipe-description"></p>
                </div>

            </div>

            <h1 class="recipe-title"></h1>

                <div class="buttons">
                    <button>Publish</button>
                    <button>Edit</button>
                    <button>Delete</button>
                </div> -->

        </div>
    </div>

  <script src="../scripts/recipe-book.js"></script>
</body>

</html>
