<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/recipe-book.css">
    <script src="../scripts/recipe-book.js" defer></script>

    <title>Recipe Book</title>
</head>

<body style=" text-align: center;">
    <br>
    <h1 style="margin: 50px;">My Recipe Book</h1>
    <div class="recipe-book-container">
        <div class="recipe-item" v-for="recipe in recipes">
            <h2>{{ recipe.title }}</h2>
            <p><strong>Ingredients:</strong> {{ recipe.ingredients }}</p>
            <p><strong>Description:</strong> {{ recipe.description }}</p>
        </div>
    </div>
    <div class="add-recipe-btn">
        <a href="addNewRecipeToBook.html" id="addrecipebtn">Add New Recipe</a>
    </div>
</body>


</html>
