<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twbs-pagination/1.4.2/jquery.twbsPagination.min.css">
    <link rel="stylesheet" href="../styles/recipe-book.css">
    <title>Recipe Book</title>
</head>

<body>

    <header>
        <div id="header-container">
            <button id="back-arrow-button">
                <ion-icon class="back-arrow" name="chevron-back-circle-outline"></ion-icon>
            </button>
            <h1 id="my-recipe-book-title">Loading...</h1>
        </div>
    </header>

    <br>
    <!-- <h1 style="margin: 50px;">My Recipe Book</h1> -->
    <div class="add-recipe-btn">
        <a href="addNewRecipeToBook.html" id="addrecipebtn">Add New Recipe</a>
    </div>

    <div class="grid-container">

        <div class="recipe-item">
        <div class="book">
            <div class="gloss"></div>
            <img class="cover" src="../Images/background.png">
            <div class="description">
                <h1 class="recipe-name"></h1>
                <hr>
                <p class="recipe-description"></p>
            </div>

            <h1 class="recipe-title"></h1>

            <!-- <div class="buttons">
                <button id="publishButton">Publish</button>
                <button onclick="handleEditClick()">Edit</button>
                <button onclick="handleDeleteClick()">Delete</button>
            </div> -->

        </div>

        <!-- <div class="recipe-item">
            <div class="book">
                <div class="gloss"></div>
                <img class="cover" src="../Images/background.png">
                <div class="description">
                    <h1 class="recipe-dame"></h1>
                    <hr>
                    <p class="recipe-description"></p>
                </div>

            </div>

            <h1 class="recipe-title"></h1>

                <div class="buttons">
                    <button>Publish</button>
                    <button>Edit</button>
                    <button>Delete</button>
                </div>

        </div>

        <div class="recipe-item">
            <div class="book">
                <div class="gloss"></div>
                <img class="cover" src="../Images/background.png">
                <div class="description">
                    <h1 class="recipe-dame"></h1>
                    <hr>
                    <p class="recipe-description"></p>
                </div>

            </div>

            <h1 class="recipe-title"></h1>

                <div class="buttons">
                    <button>Publish</button>
                    <button>Edit</button>
                    <button>Delete</button>
                </div>

        </div>

        <div class="recipe-item">
            <div class="book">
                <div class="gloss"></div>
                <img class="cover" src="../Images/background.png">
                <div class="description">
                    <h1 class="recipe-dame"></h1>
                    <hr>
                    <p class="recipe-description"></p>
                </div>

            </div>

            <h1 class="recipe-title"></h1>

                <div class="buttons">
                    <button>Publish</button>
                    <button>Edit</button>
                    <button>Delete</button>
                </div> -->

    </div>
    </div>

    <!-- <div class="paging-container">
        <ul class="pagination" id="pagination-demo">
        </ul>
    </div> -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twbs-pagination/1.4.2/jquery.twbsPagination.min.js"></script>
    <script src="../scripts/recipe-book.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html>