<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twbs-pagination/1.4.2/jquery.twbsPagination.min.css">
    <link rel="stylesheet" href="../styles/userDashboard.css">
    <title>User Dashboard</title>
</head>
<body>

    <!-- Navbar -->
    <header>
        <div id="header-container">
            <button id="back-arrow-button">
                <ion-icon class="back-arrow" name="chevron-back-circle-outline"></ion-icon>
              </button>
              <h1 class="header-title">USER RECIPE DASHBOARD</h1>
        </div>
    </header>
    <section class="background">

    <!-- main -->
    <main class="page">

      <header class="hero">
        <div class="hero-container"
          style="background-image:url(https://images.unsplash.com/photo-1606787366850-de6330128bfc?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D); 
            background-size: cover; 
            background-position: center;">
          <div class="hero-text">
            <article style="background-size: cover;  background: linear-gradient(
              to right, 
              hsl(252, 65%, 8%),
              hsl(268, 19%, 40%)


            );
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            text-align: center;">
            <h1
              style="  font-weight:bold;
  min-block-size: 100%;
  min-inline-size: 100%;
  box-sizing: border-box;
  display: grid;
  margin-top: 3px;
  place-content: center;
  font-family: system-ui;
  font-size: min(200%, 5vmin); font-size: 6vmin;
  line-height: 1.1;">
                                Explore Recipes</h1>
            </article>
          </div>
        </div>
      </header>

      <section class="recipes-container">

          <div class="select-container">

          </div>


        <!-- end of tag container -->

        <!-- recipes list -->
        <div class="recipes-list" id="recipesList">
          <!-- Boş, dinamik olarak doldurulacak -->
        </div>
        <!-- end of recipes list -->
      </section>

      <div class="paging-container">
        <ul class="pagination" id="pagination-demo">
            <!-- Pagination links will be dynamically generated here -->
        </ul>
      </div>

    </main>
    <!-- end of main -->
    <!-- footer -->
    <br>
  </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twbs-pagination/1.4.2/jquery.twbsPagination.min.js"></script>
    <script src="../scripts/userDashboard.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>
