<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="../styles/userProfile.css">
</head>
<body>
    <div id="header-container">
        <button id="back-arrow-button">
          <ion-icon class="back-arrow" name="chevron-back-circle-outline"></ion-icon>
        </button>
        <h1 class="header-title" style="color: #c4bbf0;">MY PROFILE</h1>
    </div>
    <div class="card-container">
       
        <div id="userPersonal">
            <img class="round" id="userPhoto" src="https://static.vecteezy.com/system/resources/thumbnails/005/129/844/small_2x/profile-user-icon-isolated-on-white-background-eps10-free-vector.jpg" alt="user" />
            <div class="buttons">
                <button id="editProfileButton" class="primary" style="cursor: pointer;">
                    Edit Profile
                </button>
            </div>
            <h3 id="userName"></h3>
            <p id="userEmail"></p>
            <p id="userBio"></p>
        </div>
        <div id="userPublishedRecipes" class="recipe-container">
            <!-- Dynamically generated recipe cards will go here -->
        </div>
        
    </div>

    <footer>
        <!-- Footer content -->
    </footer>

</body>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="../scripts/userProfile.js"></script>
</html>
