:root {
    --dark_grey: #363b4e;
    --dark_purple: #4f3b78;
    --purple: #927fbf;
    --light_purple: #c4bbf0;
    --background_color: rgb(205, 199, 208);
}

body {
    font-family: Arial, sans-serif;
    font-size: larger;
    margin: 0;
    padding: 0;
    background-color: var(--background_color);
}

header {
    background-color: var(--dark_grey);
    color: var(--light_purple);
    text-align: center;
    padding: 1em;
}

#header-container {
    display: flex;
    align-items: center;
}

#back-arrow-button {
    background: transparent;
    border: none;
    padding: 0;
    position: relative;
}

.back-arrow {
    font-size: 5em;
    color: var(--light_purple);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0%, -50%);
    transition: color 0.3s ease-in-out; 
}

#back-arrow-button:hover .back-arrow {
    color: var(--purple); /* Change the color on hover */
    cursor: pointer; /* Change the cursor on hover */
}

#header-title {
    flex-grow: 1; /* This will make the title take up the remaining space */
}

.searchBar {
    display: flex;
    max-width: 80vw;/*make it 80vw later*/
    max-height: 50vh;
    background: white;
    border-radius: 4px;
    overflow-y:auto;
    overflow-x:visible;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-inline: 9.6vw;
    margin-top: 10vh;
    white-space: nowrap;
    flex-direction: row; /* Lay out items horizontally */
    flex-wrap: wrap;
}

.tag {
    background: #333;
    color: white;
    padding: 8px 12px;
    margin: 5px;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

.tag .remove {
    margin-left: 8px;
    cursor: pointer;
}

.tag:hover {
    background: #222;
}

input {
    flex: 1;
    padding: 10px;
    border: none;
    font-size: 16px;
    background: transparent;
    outline: none;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    margin-top: 1vh;
    min-width: 80vw;
    height: 40px;
    background-color: var(--dark_purple);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: var(--purple);
}

/* #displayArea {
    background: #f0f0f0;
    padding: 10px;
    border-radius: 4px;
} */

.recipes-header{
    padding-inline: 10vw;
}

.recipes {
    display: flex;
    flex-wrap: wrap;
    padding-left: 9vw;
}

.recipe-item {
    display: flex;
    flex-direction: column;
    margin: 10px;
    box-sizing: border-box;
    border: 4px solid var(--dark_grey);
    border-radius: 20px;
    width: 40vw;
}

.border{
    margin-top: -1.5vh;
    width: 38vw;
    border: 2px solid var(--dark_grey);
    border-radius: 20px;
}
.recipe-name {
    margin-top: 10px;
    margin-inline: 0.6vw;
    font-size: 1.2em;
}

.content-container {
    display: grid;
    /* flex-direction: row; */
}

.image-container {
    position: relative;
    width: 318px;
    height: 218px;
    grid-column: 1;
    grid-row: 1;
}


.recipe-item img {
    padding: 1vh;
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
}

.info-container {
    display: flex;
    position:relative;
    height: 100%;
    width: 400px;
    align-items: flex-start;
    padding-inline: 1vw;
    margin-top: 10px;
    grid-column: 2;
    grid-row: 1;
    /* flex-grow: 1;
    max-width: 600px; */
    /* border-top: 1px solid blue;
    border-right: 1px solid blue; 
    border-left: 1px solid blue; */
}

.info-container-2{
    display: flex;
    flex-wrap: wrap;
    position:relative;
    align-items: flex-start;
    padding-inline: 0.5vw;
    /* margin-top: 10px; */
    padding-bottom: 10px;
    height: 100%;
    /* border-right: 1px solid red; 
    border-bottom: 1px solid red;
    border-left: 1px solid red; */
    grid-column: 1 / 3;
    grid-row: 2 / 2;
}

.recipe-tags {
    display: flex;
    flex-wrap: wrap;
}

.recipe-tag {
    /* background-color: #4f3b78; */
    color: black;
    padding: 4px 8px;
    margin: 2px;
    margin-inline-end: 0.3vw;
    border: 1px solid var(--dark_grey);
    border-radius: 4px;
}