:root {
    --dark_grey: #363b4e;
    --dark_purple: #4f3b78;
    --purple: #927fbf;
    --light_purple: #c4bbf0;
    --background_color: rgb(205, 199, 208);
}

body {
    font-family: Arial, sans-serif;
    font-size: larger;
    margin: 0;
    padding: 0;
    background-color: var(--background_color);
}

header {
    background-color: var(--dark_grey);
    color: var(--light_purple);
    text-align: center;
    padding: 1em;
}

#header-container {
    display: flex;
    align-items: center;
}

#back-arrow-button {
    background: transparent;
    border: none;
    padding: 0;
    position: relative;
}

.back-arrow {
    font-size: 5em;
    color: var(--light_purple);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0%, -50%);
    transition: color 0.3s ease-in-out; 
}

#back-arrow-button:hover .back-arrow {
    color: var(--purple); /* Change the color on hover */
    cursor: pointer; /* Change the cursor on hover */
}

#header-title {
    flex-grow: 1; /* This will make the title take up the remaining space */
}

.searchBar {
    display: flex;
    max-width: 80vw;/*make it 80vw later*/
    max-height: 50vh;
    background: white;
    border-radius: 4px;
    overflow-y: auto;
    overflow-x:visible;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-inline: 10vw;
    margin-top: 30vh;
    flex-grow: 1;
    white-space: nowrap;
    flex-direction: row; /* Lay out items horizontally */
    flex-wrap: wrap;
}

.tag {
    background: #333;
    color: white;
    padding: 8px 12px;
    margin: 5px;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

.tag .remove {
    margin-left: 8px;
    cursor: pointer;
}

.tag:hover {
    background: #222;
}

input {
    flex: 1;
    padding: 10px;
    border: none;
    font-size: 16px;
    background: transparent;
    outline: none;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    margin-top: 1vh;
    min-width: 80vw;
    height: 40px;
    background-color: var(--dark_purple);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: var(--purple);
}