:root {
    --dark_grey: #363b4e;
    --dark_purple: #4f3b78;
    --purple: #927fbf;
    --light_purple: #c4bbf0;
    --background_color: rgb(205, 199, 208);
}


body {
    font-family: Arial, sans-serif;
    font-size: larger;
    margin: 0;
    padding: 0;
    background-color: var(--background_color);
}

header {
    background-color: var(--dark_grey);
    color: var(--light_purple);
    text-align: center;
    padding: 1em;
}

.recipe-container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.recipe-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}

.recipe-ingredients {
    margin-bottom: 20px;
}

.recipe-description {
    line-height: 1.6;
}

#header-container {
    display: flex;
    align-items: center;
}

.recommendations-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}

.recommendations-container .slide {
    flex: 1 1 calc(33.333% - 10px); /* Three items per row with 10px gap */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.recommendations-container .slide img {
    max-width: 100px; /* Smaller image size */
    border-radius: 50%;
    margin-bottom: 10px;
}

.recommendations-container .recommendation-title {
    font-size: 14px;
    font-weight: bold;
}


#back-arrow-button {
    background: transparent;
    border: none;
    padding: 0;
    position: relative;
}

.back-arrow {
    font-size: 5em;
    color: var(--light_purple);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0%, -50%);
    transition: color 0.3s ease-in-out; 
}

#back-arrow-button:hover .back-arrow {
    color: var(--purple); /* Change the color on hover */
    cursor: pointer; /* Change the cursor on hover */
}

#recipe-title {
    flex-grow: 1; /* This will make the title take up the remaining space */
}