
:root {
    --dark_grey: #363b4e;
    --dark_purple: #4f3b78;
    --purple: #927fbf;
    --light_purple: #c4bbf0;
    --background_color: rgb(205, 199, 208);
}

body {
    font-family: Arial, sans-serif;
    font-size: larger;
    margin: 0;
    padding: 0;
    background-color: var(--background_color);
}

header {
    background-color: var(--dark_grey);
    color: var(--light_purple);
    text-align: center;
    padding: 1em;
}

.grid-container {
    margin-top: 10px;
    color: #ccc;
    display: flex;
    flex-wrap: wrap; 
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    justify-content: center; /* Center vertically */
}

.user-recipe-box {
    background-color: rgb(48, 34, 48);
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.recipe-image {
    width: 400px;
    height: 400px;
    object-fit: cover; /* Maintain aspect ratio */
    margin-bottom: 10px;
}

.recipe-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

#header-container {
    display: flex;
    align-items: center;
}

#back-arrow-button {
    background: transparent;
    border: none;
    padding: 0;
    position: relative;
}

.back-arrow {
    font-size: 5em;
    color: var(--light_purple);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0%, -50%);
    transition: color 0.3s ease-in-out; 
}

#back-arrow-button:hover .back-arrow {
    color: var(--purple); /* Change the color on hover */
    cursor: pointer; /* Change the cursor on hover */
}

.header-title {
    flex-grow: 1; /* This will make the title take up the remaining space */
}