:root {
    --dark_grey: #363b4e;
    --dark_purple: #4f3b78;
    --purple: #927fbf;
    --light_purple: #c4bbf0;
    --background_color: rgb(205, 199, 208);
}

/* Checkbox input */
/* Checkbox container */
.allergic-food-section {
    display: flex;
    flex-direction: column;
    
}


.allergic-food-section input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #999;
    border-radius: 5px;
    margin-bottom: 5px; 
    cursor: pointer;
    margin-top: 15px;
    vertical-align:middle;
    margin-bottom:10px;

}

/* Checkbox input - checked state */
.allergic-food-section input[type="checkbox"]:checked {
    background-color:#4f3b78;
    border-color:#363b4e;
}


/* Checkbox label */
.allergic-food-section label {
    font-size: 16px;
    color: #333;
}

/* Hide default checkbox */
.allergic-food-section input[type="checkbox"]::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: url('checkmark.png') center/contain no-repeat; /* You can replace 'checkmark.png' with your own image */
    opacity: 0;
    transition: opacity 0.2s;
}

/* Show checkmark when checkbox is checked */
.allergic-food-section input[type="checkbox"]:checked::before {
    opacity: 1;
}

#allergicFoodSection {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
    padding: 10px;
}

.checkbox-and-div-label {
    display: flex;
    align-items: center;
}

.checkbox-and-div-label label {
    margin-left: 8px;
}


body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: var(--background_color);
    color: var(--dark_grey);
}

.profile-container {
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section {
    margin-bottom: 20px;
    background-color: var(--light_purple);
    padding: 15px;
    border-radius: 10px;
}

.section-header {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--dark_purple);
}

.photo-frame {
    width: 100px;
    height: 100px;
    background-color: #ddd;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin-top: 10px;
}

input[type="file"] {
    margin-top: 10px;
}

select,
input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid var(--dark_purple);
    border-radius: 5px;
    box-sizing: border-box;
}

select {
    background-color: white;
}

#save-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: var(--purple);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#save-button:hover {
    background-color: var(--dark_purple);
}